- @weapons.each do |weapon|
    %p= weapon.name
    %p= weapon.current_power
    %p= weapon.title
    = link_to "Visualizar", weapon_path(weapon) 
    = link_to "Deletar", weapon_path(weapon), method: :delete